text, body { font-family: Montserrat !important; }

#chart {
	position: static;
  	width: 100%;
  	max-width: 900px;
  	height: auto;
  	
}

.hed { 
  font-family: Montserrat;
  text-transform: uppercase;
  font-weight: 400;
  color: #222;
}

.states {
	fill: none;
	stroke: #fff;
	//stroke-width:1;
	stroke-linejoin: round;
	pointer-events: none;
}

.tooltip {
	position: absolute;
	text-align: left;
	max-width: 180px;
	min-width: 70px;
	min-height: 12px;
	padding: 8px;
	font: 12px sans-serif;
	background: #fff;
	//border: solid 1px #999;
	border-radius: 8px;
	border-radius:4px;
	box-shadow:0 0 5px #444;
	visibility: hidden;
	opacity: 0.95;
	z-index: 99999;
}

.tipHed {
	font-size: 13px;
	font-weight:bold;
	line-height: 18px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 0.5em 0;
    padding: 0;
}

.selected {
	fill: red;
	opacity: 1;
}


.cbox-container {  position: relative; width: 100%;  margin: 25px auto 0;}
//.combobox-container { margin-left: auto; }

.scatterbox {
	position: static;
	width: 100%;
	max-width: 900px;
}

.barbox {
	position: static;
	width: 100%;
	max-width: 900px;
	margin: 0 0 10px 0;
}

.cty-hed {
	font-size: 26px;
	font-weight: 700;
	color: red;
	margin: 50px 12px 10px 0px;
}

.cty-cat {
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;;
	color: #999;
}

